.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.formWrapper {
    width: 50vw;
    display: flex;
    justify-content: center;
}